<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		<link rel="stylesheet" href="[[URL]]css/mail/style.css">
	</head>

	<body>
		<div id="emailVal" class="col s6 m4">
		  <h2 >Fichiers envoyés avec succès à :</h2>
		  <div id="email">MAIL</div>
		  <div id="container"class="card horizontal">
			<div id="potato" class="card-image">
			  <img src="patate.svg">
			</div>
			<div class="card-stacked">
			  <div class="card-content">
				<p>Dès que le destinataire aura téléchargé votre fichier, vous recevrez un mail de confirmation.</p>
			  </div>
			  <div class="card-action">
				<a href="DWN">Lien de téléchargement</a>
			  </div>
			</div>
		  </div>
		</div>
	</body>
</html>