/* FONT IMPORT*/

    @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
    @import url('https://fonts.googleapis.com/css?family=Lato');


    *{
      margin : 0;
      padding : 0;
    }


/* BACKGROUND */

    body{
      background-image: url('img/back2.jpg');
    }

/* HEADER */

    h1{
      color: #fff;
      padding-left: 1em;
      font-family: 'Indie Flower';
    }



/*CONTENU FORMU*/

    form{
      background: rgba(255, 255, 255, 0.7);
      font-family: "Lato";
      height: 32em;
    }

    #button-next{

    }

/*CONTENU UPLOAD*/
    article{
      background: rgba(255, 255, 255, 0.7);
      max-height: 32em;
    }

    #dropfile{
      background: rgba(97, 97, 97, 0.5);
      width: 280px;
      height: 100px;
      line-height:100px;
      text-align: center;
      margin-top: 1em;
      margin-bottom: -1em;
    }

    #dropfiletext{
      margin-bottom: -1em;
      margin-left: 13em;
    }

    #uploadfile{
      margin-left: 4em;
    }

    #button-upload{
      margin-left: 3em
    }
